
/* Header */
header {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 20px;
  position: relative;
  font-size: 20px;
  line-height: 1.5;
}

.site-header {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0;
}

/* Body Styles */
body {
  margin: 15px;
  font-family: 'Roboto', Arial, sans-serif;
  background: url('https://source.unsplash.com/time-lapse-photography-of-tunnel-sb7RUrRMaC4') no-repeat center center/cover;
  box-sizing: border-box;
}

/* Header and Paragraph Styles */
h3, p {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
  background-color: #f1f4f26b;

}

/* Navigation Bar Styles */
.navbar {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  align-items: center;
}
.navbar button {
  background-color: #33bbff;
}

/* Navigation Bar List Styles */
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin-left: 15px;
}

.navbar ul li:first-child {
  margin-left: 0;
}

.navbar ul li a {
  text-decoration: none;
  color: #ddd;
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar ul li a:hover {
  background-color: #555;
}

/* Skills Section Paragraph Styles */
.skills-section p {
  font-size: 20px; /* Adjust the font size as needed */
  color: #000000; /* Text color */
  line-height: 1.6; /* Adjust the line height for readability */
  margin-bottom: 15px; /* Add bottom margin for spacing */
}

/* Skills Section List Item Styles */
.skills-section li {
  font-size: 20px; /* Adjust the font size as needed */
  color: #000000; /* Text color */
  line-height: 1.4; /* Adjust the line height for readability */
  margin-bottom: 8px; /* Add bottom margin for spacing */
}


/* Button Styles */
button.btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-right: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.btn:hover {
  background-color: #2980b9;
}

/* Footer Styles */
.footer {
  background-color: #000000;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Social Media Icon Styles */
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

/* Style each icon link */
.icons a {
  margin: 10px;
}

/* Style each icon */
.icons i {
  font-size: 40px;
  color: #ffffff;
  transition: color 0.3s;
}

/* Change the color of each icon on hover to match their brand colors */
.icons i.bi.bi-linkedin:hover {
  color: #0e76a8;
}
.icons i.bi.bi-github:hover {
  color: #211f1f;
}
.icons i.bi.bi-youtube:hover {
  color: #ff0000;
}
.icons i.bi.bi-twitter:hover {
  color: #1da1f2;
}
.icons i.bi.bi-reddit:hover {
  color: #ff4500;
}
.icons i.bi.bi-instagram:hover {
  color: #e1306c;
}

/* Media Queries Styles */
@media screen and (max-width: 768px) {
  .footer-social-links a {
    font-size: 20px;
  }
}

/* Information Display Area */
.infoDisplay {
  margin-top: 1.5rem;
  padding: 1.5rem;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.infoDisplay:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

/* Tool Information Display Container */
.tool-usage-container {
  display: flex;
  align-items: center;
}

/* Button Styles */
button.btn-green {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

button.btn-green:hover {
  background-color: #45a049; /* Darker shade of green */
}

button.btn-blue {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #3498db; /* Blue */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

button.btn-blue:hover {
  background-color: #2980b9; /* Darker shade of blue */
}

/* Tool Information Display Styles */
#tool-usage-display {
  display: none;
  background-color: #fff; /* White background */
  border: 1px solid #ddd;
  border-radius: 10px; /* Slightly larger border radius */
  padding: 20px;
  margin-left: 10px; /* Add margin to separate from the button */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

#tool-usage-display p,
#tool-usage-display ul {
  margin: 0;
  padding: 0;
}

#tool-usage-display ul li {
  cursor: pointer;
  margin-bottom: 5px;
}

#tool-usage-display ul li:hover {
  color: #007bff;
}
