<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eduardo's Portfolio</title>
    <!-- Linking the external script and style files -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static_files', filename='style.css') }}"
    />
    <script src="{{ url_for('static_files', filename='script.js') }}"></script>
  </head>

  <body>
    <!-- Explanation for the "CapturedCafe" button -->
    <p>
      This website showcases my skills in web design, dedicated to
      "CapturedCafe." Explore the HTML, JavaScript, and CSS code on the hosted
      GitHub pages. Click the button below to visit the website:
    </p>

    <button class="btn" onclick="location.href='CapturedCafe/home.html'">
      Visit CapturedCafe Website
    </button>

    <!-- New Button for Python Program -->
    <button class="btn" onclick="location.href='/new_python_program'">
      New Python Program
    </button>

    <!-- New Button to execute GUIbox.py -->
    <button class="btn" onclick="location.href='/GUIbox.py'">
      Execute GUIbox.py
    </button>

    <!-- List of Learning and Practicing Skills -->
    <h2>Learning and Practicing Skills:</h2>
    <ul>
      <li onclick="showInfo('HTML')">HTML</li>
      <li onclick="showInfo('JavaScript')">JavaScript</li>
      <li onclick="showInfo('CSS')">CSS</li>
      <!-- Add more skills as needed -->
    </ul>

    <!-- Information Display Area -->
    <div id="infoDisplay"></div>

    <!-- Linking the external script file -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
